# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string orderan for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="mysql://root:@localhost:3306/test"
#DATABASE_URL="mysql://root:@localhost:3306/tahu_baxo_bupudji"
DATABASE_URL="file:./dev.db"
#DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tahu_baxo_bupudji?schema=public"

SESSION_SECRET="xxxxx"
REFRESH_TOKEN="xxx"
NODEMAILER_PASS=" "
NODEMAILER_EMAIL=" "
NEXT_PUBLIC_URL_PAGE="xxx"
NEXT_PUBLIC_URL_API="xxx"
NEXT_PUBLIC_URL_IMAGE="xxx/api/"
NEXT_PUBLIC_URL_PAGE_RAW="xxx"
NEXT_PUBLIC_URL_API_RAW="xxx"