<!--<>-->
<!--<label htmlFor="my_modal_check"-->
<!--       className="btn btn-sm sm:btn-md bg-purple-600 text-white">CHECK</label>-->
<!--<input type="checkbox" id="my_modal_check" className="modal-toggle"/>-->

<!--{/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Card&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/ }-->
<!--<div className="modal ">-->
<!--    <div className="modal-scroll  ">-->
<!--        {/*-->
<!--        <div className="modal-scroll sm:modal-middle ">*/}-->
<!--            {/*-->
<!--            <div className="card w-full ">*/ }-->
<!--                <div className=" relative rounded-lg shadow-md shadow-slate-500 bg-slate-50 ">-->
<!--                    <div className="card-title  px-10 pt-10 pb-5 flex items-start justify-between border-b rounded-t ">-->
<!--                        <h1 className={ "font-bold uppercase" }>-->
<!--                        Detail Pesanan <span className={ Status( data.status ) + "p-2" }>{-->
<!--                        data.status }</span>-->
<!--                        </h1>-->
<!--                        {/*-->
<!--                        <AiOutlineClose-->
<!--                        */ }-->
<!--                        {/* className=" bg-transparent hover:bg-gray-200 hover:text-gray-900-->
<!--                        rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center-->
<!--                        dark:hover:bg-gray-600 dark:hover:text-white"*/ }-->
<!--                        {/* onClick={ () => setClickPopUp( !clickPopUp ) }*/ }-->
<!--                        {/*/>*/ }-->
<!--                    </div>-->

<!--                    <div className="px-10 py-5 space-y-6">-->
<!--                        <div className="  flex gap-5 flex-col sm:flex-row">-->
<!--                            <div className="gap-5 flex flex-col sm:ml-10 w-full sm:w-[50%] border border-white p-5">-->

<!--                                <TextHidden title={-->
<!--                                "Kode" } value={ data.id }/>-->
<!--                                <TextHidden title={-->
<!--                                "Nama Penerima" } value={ data.penerima }/>-->
<!--                                <TextHidden title={-->
<!--                                "Hp Penerima" } value={ data.hpPenerima }/>-->
<!--                                <TextHidden title={-->
<!--                                "Alamat Penerima" } value={ data.alamatPenerima }/>-->
<!--                                <TextHidden title={-->
<!--                                "Tanggal Pesan" } value={ data.pesan.toString() }/>-->
<!--                                <TextHidden title={-->
<!--                                "Tanggal Kirim" } value={ data.kirim.toString() }/>-->
<!--                                <TextHidden title={-->
<!--                                "waktu Kirim" } value={ data.waktuKirim.toString() }/>-->
<!--                                <TextHidden title={-->
<!--                                "Lokasi" } value={ data.lokasi }/>-->
<!--                            </div>-->

<!--                            <div className="gap-5 flex flex-col sm:ml-10 w-full sm:w-[50%] border border-white p-5">-->
<!--                                <TextHidden title={-->
<!--                                "Travel Pengirim" } value={ data.pengirim }/>-->
<!--                                <TextHidden title={-->
<!--                                "Ekspedisi" } value={ data.namaPengiriman }/>-->
<!--                                <TextHidden title={-->
<!--                                "Biaya Kirim/Ongkir" } value={ Rupiah( data.ongkir ) }/>-->
<!--                                <TextHidden title={-->
<!--                                "Semua Harga Orderan" }-->
<!--                                value={ Rupiah( calculateTotal( data.listOrderan ) ) }/>-->
<!--                                <TextHidden title={-->
<!--                                "Semua Harga Item" } value={ Rupiah( calculateTotal( data.listItem )-->
<!--                                ) }/>-->
<!--                                <TextHidden title={-->
<!--                                "Total Beli" } value={ Rupiah( calculateTotal( data.semuaProduct ) )-->
<!--                                }/>-->
<!--                                <TextHidden title={-->
<!--                                "Total Beli + Biaya Kirim" }-->
<!--                                value={ Rupiah( calculateTotal( data.listOrderan ) + calculateTotal(-->
<!--                                data.listItem ) +-->
<!--                                data.ongkir ) }/>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <ul-->
<!--                                className="  relative overflow-x-auto rounded-lg bg-white p-2 mt-1 gap-2 flex shadow shadow-slate-300">-->
<!--                            { data.semuaProduct.map( ( item: TProduct, ) => {-->
<!--                            return (-->
<!--                            <Card key={ item.id } color="blue"-->
<!--                                  className={-->
<!--                            "flex-nowrap flex" }>-->
<!--                            <div-->
<!--                                    className="w-[10rem]  bg-white border border-slate-100 rounded-lg shadow shadow-black  p-2">-->
<!--                                <CardHeader floated={ false }>-->
<!--                                    <figure className={-->
<!--                                    " h-32 object-cover rounded " }>-->
<!--                                    <Image src={ item.img }-->
<!--                                           alt={ item.nama }-->
<!--                                           width={ 100 }-->
<!--                                           height={ 100 }-->
<!--                                           className=" rounded object-cover  h-32   w-full"-->
<!--                                    />-->
<!--                                    </figure>-->
<!--                                </CardHeader>-->

<!--                                <CardBody className=" rounded p-2 ">-->
<!--                                    <Typography variant="h6" color="black" className="mb-2">{-->
<!--                                        item.nama }-->
<!--                                    </Typography>-->
<!--                                    <Typography color="black">{/*Harga */ }{ Rupiah( item.harga )-->
<!--                                        }-->
<!--                                    </Typography>-->
<!--                                    <Typography color="black">Jenis : { item.jenis }</Typography>-->
<!--                                    <Typography color="black"> Jumlah : { item.jumlah }</Typography>-->
<!--                                </CardBody>-->
<!--                            </div>-->
<!--                            </Card>-->
<!--                            )-->
<!--                            } ) }-->
<!--                        </ul>-->

<!--                        <div className="shadow shadow-slate-300 p-2 rounded ">-->
<!--                            <Texts>Keterangan</Texts>-->
<!--                            <TextHidden title={-->
<!--                            "" } value={ data.guna }/>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                    <DialogFooter-->
<!--                            className="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">-->
<!--                        <button-->
<!--                                onClick={ async ()=> {-->
<!--                            await handleSave();-->
<!--                            } }-->
<!--                            data-modal-hide="defaultModal" type="button"-->
<!--                            className="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4-->
<!--                            focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm-->
<!--                            px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700-->
<!--                            dark:focus:ring-blue-800">-->
<!--                            { method !== "PUT" ? "Simpan" : "Update" }-->
<!--                        </button>-->

<!--                        <button-->
<!--                                onClick={ ()=> {setClickPopUp( !clickPopUp )} }-->
<!--                            data-modal-hide="defaultModal"-->
<!--                            type="button"-->
<!--                            className="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4-->
<!--                            focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200-->
<!--                            text-sm font-medium px-5 py-2.5 hover:text-gray-900 dark:bg-gray-700-->
<!--                            dark:text-gray-300 dark:border-gray-500 dark:hover:text-white-->
<!--                            dark:hover:bg-gray-600 dark:focus:ring-gray-600">-->
<!--                            Tutup-->
<!--                        </button>-->
<!--                    </DialogFooter>-->
<!--                </div>-->
<!--            </div>-->
<!--            {/*-->
<!--        </div>-->
<!--        */ }-->
<!--    </div>-->
<!--</ >-->